@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Comfortea:wght@300;400;500;600;700&display=swap);
*{
    font-family: 'comfortea',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
:root{
    --main-color:#2980b9;
    --red:red;
    --light-color:#777;
    --light-bg:#eee;
    --black:#2c3e50;
    --white:#fff;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    --border:1rem solid rgba(0,0,0,.2);
    --font-big:20px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-color: var(--light-bg);
}
section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu-btn{
    color: var(--black);
    font-size: 2.7rem;
    cursor: pointer; 
    display: none; 
}
.header .flex .logo{
    color: var(--black);
    font-size: 2.5rem;
}
.header .flex .logo i{
    margin-right: .5rem;
    color: var(--light-color);
}
.header .flex .navbar a{
    display: inline-block;
    padding: 1rem 1.5rem ;
    font-size: 1.6rem;
    color: var(--light-color);
    border-radius: .5rem;
}
.header .flex .navbar a:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:var(--white);
    background: var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
  }
  .btn:hover{
    background: var(--black);
    letter-spacing: .1rem;
  }
.banner{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bg.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
    text-align: center;
}
.banner h1{
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.search-job{
    padding: 30px 0;
    margin: -50px 6% 50px;
    background-color:rgba(0,0,0,0.1);
  text-align: center;
}
.search-job .form-control{
    max-width: 250px;
    padding: 10px 20px 10px 10px;
    display: inline-flex;
    margin: 10px 5px;
    border-radius: 0;
    box-shadow: var(--box-shadow);
    border: none;
}
#recruiters{
    padding-top: 30px;
    padding-bottom: 50px;
    
}
#recruiters h3,#site-stats h3,.footer h2{
    font-size: 30px;
   text-align: center;
    padding-bottom: 30px;
    background-color:var(--main-color) ;
    color: var(--white);

}
#recruiters h3 span{
    background-color: var(--light-bg);
    color: var(--black);
}
#recruiters h3 span:hover, #site-stats h3:hover,.footer h2:hover{
    background-color:var(--black) ;
    color: var(--white);
    padding: 10px 20px 10px 10px;
    text-align: center;
}
#recruiters img{
    width: 100%;
    height: 60vh;
}
<!--JOBS-->
#jobs {
    background: var(--white);
    padding: 50px 0;
}
.company-details{
    box-shadow: var(--box-shadow);
   margin-bottom: 20px;
    border-radius: 5px;
}
.job-update{
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
}
.job-update i{
    margin-top: 5px;
    margin-right: 10px;
    color:var(--main-color);
}
.job-update small{
    background-color: var(--light-bg);
    padding: 1px 5px;
    margin: 0 5px;
}
.job-update p{
    margin-bottom: 0;
}
.job-update a{
    text-decoration: none;
    color:var(--main-color);
}
.page-link li{
    height: 25px;
    width: 25px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    background-color: var(--white);
}
.page-link li:hover, .active{
    background-color: var(--light-bg);
    color: var(--main-color);
}
.left-arrow{
    color: var(--main-color);
}
.right-arrow{
    color: var(--main-color);
}
#site-stats{
    background-color: var(--white); 
    box-shadow: var(--box-shadow); 
}
#site-stats .container h3{
    padding-top: 10px;
font-size: 20px;
}
#site-stats .container .stats-flex{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
 
}
#site-stats .container .stats{
    background-color: var(--light-bg);
    padding: 10px 20px 10px 10px; 
    text-align: center;
}
#site-stats .container .stats:hover{
    background-color: var(--main-color); 
    color: var(--white);
}


  .footer .box-container{
    display: block;
    background-color: var(--white);
    padding: 30px 30px 30px 30px;
    text-align: center;
  }
  .footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color: var(--black);
    
  }
  .footer .box-container .box{
    display: block;
  }
  .footer .box-container .box a{
    display: inline-block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
    text-align: center;  
  }
  .footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
  }
  .footer .credit{
    text-align: center;
    border-top:1rem solid rgba(0,0,0,0.1) ;
    font-size: 2rem;
    color: var(--black);
    padding-top: 1.5rem;
    margin-top: 1.5rem;
  }

  /* media queries */
@media(max-width:991px){
    html{
      font-size: 55%;
    }
  }
  @media(max-width:768px){
    #menu-btn{
      display: inline-block;
    }
    .header .flex .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color:var(--white);
      border-top: var(--border);
      padding: 1rem .5rem;
      /* clip-path: polygon(0 0,100% 0,100% 0,0 0); */
      clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
      transition: .2s linear;
     
    }
    .header .flex .navbar.active{
      clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    .header .flex .navbar a{
      display: block;
      padding: 1.5rem 2rem;
    }
  }
  @media(max-width:450px){
    html{
      font-size: 50%;
    }
    header{
      padding: 1rem 2rem;
    }
  }